@using ShortenUrlMVC.BuisnessLogic.DTO;
@model IEnumerable<ShortUrlDto>

<h1>My urls</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shortcut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullUrl)
                </td>
                <td>
                    <a href="@item.FullUrl" target="_blank">@item.Shortcut</a>
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.Shortcut">Delete</a>
                </td>
           
            </tr>
        }
    </tbody>
</table>